body {
	background: #000;
	color: #fff;
	overflow: hidden;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: inherit;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}
h1,h2,h3 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-weight: 400;
	text-align: center;
	margin: 0;
	padding: 0;
	letter-spacing: 1px;
}
h3 {
	color: #fcbd15;
	padding-bottom: 8px;
}
h4 {
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 1px;
	text-align: center;
	margin: 10px 0 0 0;
	font-family: Helvetica, sans-serif;
}
h4 span.big {
	font-size: 32px;
	position: absolute;
	bottom: -6px;
	margin-left: 5px;
}

/* Mobile Site Styles */

.mobile-site {
	padding-top: 20px;
}
.content {
	max-width: 640px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 60px;
}
.header {
	z-index: 99;
	width: 100%;
	position: absolute;
	padding-top: 12px;
}

.navigation {
	z-index: 200;
	position: relative;
}
.navigation ul {
	list-style: none;
	text-align: center;
	margin: 0 auto;
	padding: 0;
}
.navigation ul li {
	border: 1px solid #7f7f7f;
	margin-bottom: 10px;
	padding: 10px 0;
	border-radius: 5px;
	cursor: pointer;
	font-family: Arial, sans-serif;
	width: 100%;
}
.fade-out {
	background: #fff;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 9999999999;
	display: none;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.trigger {
	width: 48%;
	height: 50%;
	display: block;
	position: absolute;
	left: 0px;
	z-index: 100000000;
	margin: 22% 26%;
	cursor: pointer;
}
.mobile-sound {
	right: 0px;
	margin: 22% 9%;
	cursor: pointer;
	display: block;
	z-index: 999999999;
	position: absolute;
	width: 17px;
	height: 13px;
	background: url(../img/volume.png) 0 -13px no-repeat;
}
.tablet-sound {
	background: url(../img/volume2.png) 0 -13px no-repeat;
	width: 124px;
	height: 13px;
	top: 15px;
	right: 25px;
	position: absolute;
	z-index: 999999999;
	cursor: pointer;
}
.off {
	background-position: 0 0 !important;
}
.animation {
	-webkit-backface-visibility: visible;	
}
.animation span img.first-child {
	-webkit-backface-visibility: visible;	
}
.animation img.placeholder {
	width: 100%;
	height: auto;
}
.animation span img {
	display: none;
	position: absolute;
	width: 100%;
	height: auto;
	-webkit-backface-visibility: hidden;
	top: 22px;
	z-index: 1;
	left: 0px;

}
.phone,
.big-devices,
.hidden,
.wrapper {
	display: none;
}
.flash-container { 
	width: 1024px;
	height: 768px; 
	margin: 0 auto;
}

/* Small Phones */
@media all and (max-width: 400px) { 
    h1 {font-size: 24px;}
    h2 {font-size: 30px;line-height: 34px;}
    h3 {font-size: 20px;}
    .navigation {margin-top: -15px;}
    .navigation ul {width: 280px;} 
    .navigation ul li {font-size: 16px;}
    .trigger { height: 37%;}
    .phone { display: block !important;}
    .tablet {display: none;}
    .mobile-sound {display: block;}
}
/* Large phones */
@media all and (min-width: 400px) and (max-width: 480px) {
	h1 {font-size: 30px;}
    h2 {font-size: 40px;line-height: 40px;}
    h3 {font-size: 25px;}
    .navigation {margin-top: -25px;}
    .navigation ul {width: 300px;}
    .navigation ul li {font-size: 20px;}
    .trigger { height: 38%;}
    .phone { display: block !important;}
    .tablet {display: none;}
}
/* Small Tablets */
@media all and (min-width: 481px) and (max-width: 767px) {
    h1 {font-size: 38px;}
    h2 {font-size: 58px; line-height: 58px;}
    h3 {font-size: 36px;}
    h4 {font-size: 15px;}
    .wrapper {padding-top: 50px;}
    .navigation {margin-top: -35px;}
    .navigation ul {width: 480px;}
    .navigation ul li {font-size: 20px;}
    .tablet { display: block !important;}
    }
/* Large Tablets & Desktop Fallback */
@media all and (min-width: 768px)  {
	h1 {font-size: 45px;}
    h2 {font-size: 68px;line-height: 68px;}
    h3 {font-size: 40px;}
    h4 {font-size: 17px;}
    h4 span.big {bottom: -3px;}
    .navigation {margin-top: -55px;}
    .navigation ul {width: 480px;}
    .navigation ul li {font-size: 24px;}
    .big-devices {display: block; padding-top: 50px;}
    .small-devices {display: none;}
    }
@media all and (max-width: 1024px) {
	.flash-container {display: none;}
	.wrapper {display: block !important;}
}
@media all and (min-width: 480px) {.mobile-sound {display: none;}}
@media all and (max-width: 480px) {.tablet-sound {display: none;}}